/* Style for the website */
body {
  font-family: 'Poppins', sans-serif;
}

/* Hover Effects for Buttons */
a:hover {
  text-decoration: none;
  transform: scale(1.05);
}

/* Custom styles */
.bg-gradient-to-r {
  background: linear-gradient(to right, #6a11cb, #2575fc);
}
